html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

img {
	width:100%;
}

body {
	margin: 0em;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
	font-family: 'Patua One', cursive;
	margin: 0em;
}

h1 {
	text-align: center;
	font-size: 1.85em;
	color: white;

}

header {
	background-color: #2b221a;
	color: white;
}

ol li{
	display: block;
	float: left;
	padding: 1em 0em;
	width: 33.33333333%;
}

ol a {
	text-decoration: none;
	color: white;
}

ol {
	list-style-type: none;
	text-align: center;
	padding: 0em;
	width: 100%;
	margin: 0em;
	background-color: #2b221a;
	position: fixed;
}

ol li:hover {
	background-color: #705944;
}

.billboard {
	padding: 6em 0em 1em 0em;
	background-image: url("../images/billboard.jpg");
	background-size: 100% auto;
	background-position: center;
}

h2 {
	margin:0em;
	text-align: center;
}

p {
	margin: 0em;
}

figcap {
	font-size: 0.75em;
	width: 90%;
	font-style: italic;
}

.info {
	background-color: #af6456;
	padding: 1em 0.5em;
	text-align: center;
}

.food {
	background-color: #c9ac62;
	padding: 1em 0.5em 13em 0.5em;
	text-align: center;
}

.drinks {
	background-color: #8e735a;
	padding: 1em 0.5em 13em 0.5em;
	text-align: center;
}

.stuff {
	background-color: #4c8462;
	padding: 1em 0.5em 13em 0.5em;
	text-align: center;
}

.left {
	width: 50%;
	float: left;
	padding: 1em 0em;
}

.left img {
	width: 90%;

}

.right {
	width: 50%;
	float: right;
	padding: 1em 0em;
}

.right img {
	width: 90%;
}

footer {
	background-color: #2b221a;
	color: white;
	padding: 1em;
}
